.box{
    background-color: blue;
    color: wheat;
}
.box1{
    background-color: blue;
    height: 100px;
    color: wheat;
}
.card{
    background-color: blue;
    height: 100px;
    color: wheat;
}
.card1{
    background-color: blue;
    height: 100px;
    color: wheat;
}
